<section class="add-user">
        <form action="" [formGroup]="profileForm"  (ngSubmit)="onSubmit()"c>
            <input type="text" placeholder="First Name"  formControlName="firstName">
            <input type="text" placeholder="Last Name"  formControlName="lastName">
            <input type="text" placeholder="Degisnation" formControlName="degisnation">
            <input type="text" placeholder="age" formControlName="age">
            <input type="text" placeholder="gender" formControlName="gender">
            <input type="text" placeholder="Email Address" formControlName="email">
            <button  type="submit" value="submit" (click)="profileForm()">click</button>
        </form>
</section>