form{
    min-width: 460px;
    margin: 0 auto;
    span.error {
        color: red;
        font-size: 12px;
        position: relative;
        top: -8px;
    }
    input{
        display: block;
        width: 100%;
        margin-bottom: 10px;
        padding: 7px 10px;
        border: none;
        border-radius: 4px;
        &[type="submit"]{
            background-color: #ffaa01;
            color: #fff;
            text-transform: uppercase;
            max-width: 130px;
            float: right;
        }
    }
}